<div class="container-fluid ng-hide" ng-controller="MemberProfileController" ng-hide="false" ng-init="init();">

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Wheels Up Membership</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">Name: </li>
                        <li class="list-group-item">Type: </li>
                        <li class="list-group-item">Account Status: </li>
                        <li class="list-group-item">Start Date: </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Wheels Up Connect</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">Username: </li>
                        <li class="list-group-item">Account Status: </li>
                        <li class="list-group-item">Opt-In Date:</li>
                        <li class="list-group-item">Channel Count: </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Wheels Up Connect Channels</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Channel Name</th>
                                <th>Last Message</th>
                                <th>Last Modified Date</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>